.fullname {
  font-size: 16px;
  margin-left: 15px;
  font-weight: bold;
  color: #6d6d6d;
}

.avatar {
  margin-left: 20px;
}

.email {
  margin-left: 15px;
}

.group-list {
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
}

.username-column {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.user-list-header div {
  margin-left: 7px;
}

.access-column {
  margin-left: 22px;
}

.pending {
  background-color: #efcc2433 !important;
  margin: 5px 10px 5px 0px !important;
  font-size: 15px !important;
  color: #d9a034 !important;
  padding: 0px 7px 0px 7px !important;
}

.switch {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.invited-switch {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

#enabled-text {
  font-size: 17px;
  margin-left: 10px;
}

#active {
  background-color: #0080003d;
}

#active-circle {
  color: #00800069;
}

#inactive {
  background-color: #80000036;
}

#inactive-circle {
  color: #80000052;
}
