#group-details {
  margin: 10px 10px 10px 10px;
  padding: 30px;
}

#bold {
  font-weight: bold;
}

#group-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}

#rolesandpermissions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

#roles {
  width: 50%;
}

#item {
  background-color: #edf6ff;
  color: #01579b;
  font-size: 17px;
  margin: 5px 5px 5px 5px;
  padding: 5;
  height: 35px;
}

#item-list-details {
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
