POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=authentication-service
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_TTL=3600
REDIS_MAX_ITEM_IN_CACHE=1000
PORT=4000
JWT_SECRET=s3cr3t1234567890
OTP_SECRET=s3cr3t40tp1234567890
JWT_TOKEN_EXPTIME=3600
JWT_REFRESH_TOKEN_EXP_TIME=604800
ENV=local
IS_GOOGLE_SOCIAL_LOGIN_ENBALED= false
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
APP_URL=http://localhost:4000
TWILIO_ACC_SID=
TWILIO_VERIFY_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SENDING_NUMBER=
2FA_APP_NAME=
OTP_WINDOW=300
OTP_STEP=60
ENFORCE_2FA=
OTP_VERIFY_TOOL=
SMS_INTEGRATION=twilio
IS_TWILIO_INTEGRATED=false
RECAPTCHA_SECRET_KEY=
MIN_RECAPTCHA_SCORE=.5
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
DEFAULT_ADMIN_PASSWORD=adminpassword
