POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=authentication-service
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_TTL=3600
REDIS_MAX_ITEM_IN_CACHE=1000
PORT=4000
JWT_SECRET=s3cr3t1234567890
JWT_TOKEN_EXPTIME=3600
GOOGLE_CLIENT_ID=832536773171-j41k88ttm1616f6bbrc34vp1nb6e1eab.apps.googleusercontent.com
GOOGLE_SECRET=TaAfWT95u5qj0V07knmDMFit
APP_URL=http://localhost:4000
