#checkbox {
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 20px 20px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
}

#checkbox input:checked ~ #checkbox {
  background-color: gray;
}

#add-items {
  margin-top: 10px;
  width: 100%;
  padding-right: 5px;
}

#user-groups {
  margin-top: 10px;
  width: 50%;
  padding-right: 5px;
}

#titleChecklist {
  font-size: 16px;
  color: #040404;
}
.checklistLabel {
  margin-left: 10px;
}

#component {
  overflow-y: auto;
  width: 90%;
  height: 400px;
}

#titlebar {
  display: flex;
  margin-bottom: 20px;
}

#selectall {
  margin-left: 10px;
  font-size: 14px;
  color: grey;
}
