.cntr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  border-radius: 20px;
  overflow: auto;
}

.user-details {
  display: flex;
  max-height: 90%;
  flex-direction: column;
  padding-bottom: 20px;
  width: 90%;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  background: #fff;
  border-radius: 20px;
}

.user-details-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 4px;
}

.user-details-title {
  display: flex;
  width: 90%;
  justify-content: center;
}

.name {
  word-break: break-all;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  text-transform: capitalize;
}

.name-status {
  display: flex;
  column-gap: 10px;
}

.link {
  font-size: 14px;
  word-break: break-word;
  width: fit-content;
}

.personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.groups-permissions {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  row-gap: 10px;
}

.details {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 10px;
}

.details-cntr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  row-gap: 5px;
}

.user-groups {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px !important;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
}

.user-permissions {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px !important;
  align-items: flex-start;
  margin-left: 10px;
}

.items {
  margin: 6px 0px 6px 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.chip {
  height: 100%;
  margin-right: 4px;
  margin-bottom: 8px;
  background: #f0f8ff !important;
  font-weight: 400;
  font-size: 16px !important;
}

.divider-horizontal {
  display: none;
}

#active-user {
  background-color: #d3f4be;
  color: #008000d1;
}

#inactive-user {
  background-color: #80000040;
  color: #8000008c;
}

#invited-user {
  background-color: #efcc2433;
  color: #d9a034;
}

@media (max-width: 900px) {
  .divider-vertical {
    display: none;
  }
  .divider-horizontal {
    display: flex;
  }
}
