#chip {
  background-color: #edf6ff;
  margin: 5px 10px 5px 0px;
  font-size: 15px;
}

#cancel-icon {
  width: 20px;
  color: #67686cbf;
  margin-top: 8px;
  color: #67686c94;
}

#cancel-icon:hover {
  cursor: pointer;
}
