
#upload-picture{
padding:10px;
width:200px;
}

legend{
    width:200px;
}

#box{
    margin-top: 10px;
    border:1px 1px 1px 1px;
    height:200px;
    width:150px;
    border-radius:10%;
    border-style: dashed;
    border-color: gray;
    align-items: center;
}

#clouduploadicon{
    margin-left: 50px;
    margin-top:10px;
    width:50px;
    height:50px;
    color:gray;
}

#drag{
    color:gray;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#browse{
    font-size: small;
    color:gray;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#recommended{
    font-size: small;
    color:gray;
    align-items: center;
    text-align: center;
}

#profilepic{
    opacity: 0;
    position: absolute;
    z-index: -1;
 }