#title{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

#add-cancel{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#form-row{
    /* display:flex;
    width:100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: flex-start;
    /* padding: 5px 5px 5px 5px ; */
    margin-top:10px;
    margin-bottom:20px;
    /* width:calc(100%-400px); */
}

#phone{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;   
}

#fields{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    height: 45px;
    background: none;
    color: rgba(0,0,0,.6392156863);
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 10px;
    margin-right:10px;    
    width:90%;
}

#code{
    margin-right:10px; 
    height: 45px;
    width:50px;
}

#cancel{
    margin-top:2px;
    margin-right:5px;
    color:gray;
}

#form{
    border: 5px;
    padding:10px 10px 10px 10px;
}

#arrowicon{
    width:20px;
    height:15px;
    margin-right:5px;
}

#back-page{
    display: flex;
    flex-direction: row;
    color:gray;
    margin-bottom:3px;
    font-size: small;
}

#inputs{
    margin-left:0px;
    width:100%;
}

Form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
}

#add{
    border-radius: 40%;
    height:40px;
    width:60px;
    background-color: white;
    border-color: rgb(23, 119, 240); 
    color: rgb(23, 119, 240);
}

#legend{
    font-weight: bold;
}

#page{
    padding:15px;
}

#bold{
    font-weight: bold;
}