.user-name {
  font-weight: bold !important;
  font-size: 16px !important;
}

.groups {
  display: flex;
  flex-wrap: wrap;
}

.options {
  display: flex;
}

.option {
  padding-right: 15px;
  color: #a4a4a4;
  font-size: 14px !important;
}
