.container {
  width:50%;
  display: flex;
  justify-content: space-around;

}

.containerLogin {
  width: 50%;
  margin-top: 275px;
}

.box {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  background-color: white;
}

.button {
  height: 50px;
  margin-top: 20px !important;
}

.logo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.left {
  width: 50%;
}

.login-page {
  width: 100%;
  display: flex; 
  align-items: flex-start; 
}

#login-image{

  padding: 10px 10px 0px 10px;
  width:90%;
  height: 98vh;
}