.user-options {
  display: flex;
  align-items: center;
  font-size: larger;
}

.table-listing-items {
  height: 650px;
  width: 100%;
}

.table-component {
  margin: 10px;
}

.table-toolbar {
  width: 100%;
}

.table-list-header {
  font-size: 16px;
  font-weight: bolder !important;
}
