.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 33px;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #4a4a4a6e;
}

.search-bar {
  width: 218px;
  border-radius: 25px;
  background-color: #f4f8fb;
  font-size: 13;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}
